
# pip list
# pip freeze

# pip-compile backend/requirements.in -o requirements.txt

# pip-compile requirements.in

# pip-compile --upgrade requirements.in


black
# pylance # Static analysis tool
flake8
python-dotenv
pip-tools
pytz


# # databse
psycopg2-binary

# # Auth
pyjwt
python-jose
passlib # Hashing
bcrypt  # Hashing
cachetools # Storing cache for certain time


# # FastAPI
fastapi 
uvicorn 
fastapi-limiter

# openpyxl
ipython
ipykernel
# python -m ipykernel install --user --name=myenvkernel
# Create Kernal in virtual env: run VE, then install this command, Replace myenvkernel with the desired name for your kernel.